.App {
	text-align: center;
	font-family: 'Jomolhari', serif;
}

/** Welcome Page **/
.welcome-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.welcome-gif {
	width: 40rem;
	height: 30rem;
	background-image: url(https://media.giphy.com/media/3ov9kb7MpWT6QgRewM/giphy.gif);
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 5rem;
	display: block;
}

.welcome-logon {
	display: block;
	margin-top: 12rem;
}

.welcome-register {
	margin-right: 15rem;
	border-radius: 40rem;
}

.welcome-signin {
	border-radius: 40rem;
}

button {
	background-color: inherit;
	cursor: pointer;
}

.welcome-logo {
	display: inline;
	color: white;
}

p {
	font-size: 28px;
}

/** Register **/

.register-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.register-box {
	margin-top: 5rem;
	width: 40rem;
	height: 20rem;
	padding: 3rem;
	border-style: groove;
	border-color: turquoise;
	border-radius: 2rem;
}

.register-backBtn > button {
	float: left;
	border-radius: 40rem;
	font-size: 15px;
}

ul > li {
	list-style: none;
	margin-top: 1rem;
}

ul > button {
	border-radius: 40rem;
	font-size: 14px;
}

label {
	font-size: 12px;
}

ul > li > input {
	border-radius: 20rem;
	font-size: 14px;
}

/** SignIn **/
.signin-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.signin-box {
	margin-top: 5rem;
	height: 25rem;
	width: 35rem;
	border-style: solid;
	border-color: turquoise;
	padding: 3rem;
	border-radius: 2rem;
}

.signin-backBtn {
	float: left;
	font-size: 14px;
}

.signin-backBtn > button {
	border-radius: 40rem;
	background-color: turquoise;
}

/** Navigation **/
.profile-nav-box {
	width: 20rem;
	height: 20rem;
}

.nav-container {
	float: left;
	display: inline;
	margin-top: 2rem;
}

.nav-container > ul {
	margin-right: 2rem;
}

.nav-container > ul > li {
	border-bottom: turquoise;
}

.nav-container > ul > li:hover {
	background-color: turquoise;
	border-radius: 10rem;
}

.nav-container > ul > li > button {
	border-radius: 10rem;
	border-style: none;
}

/** Profile **/

.profile-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.profile-box {
	margin-top: 5rem;
	width: 70%;
	height: 40rem;
	display: flex;
	border-style: solid;
	border-radius: 5rem;
	border-color: turquoise;
	overflow: auto;
	overflow: hidden;
}

.profile-workout-list {
	width: 50rem;
}

/** add workout **/
.add-workout-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.add-workout-box {
	margin-top: 5rem;
	width: 60%;
	display: flex;
	padding: 5rem;
	border-style: solid;
	color: turquoise;
	border-radius: 5rem;
}

.profile-add-workout-box {
	margin: auto;
	margin-left: 4rem;
}

/** User Info **/
.userInfo-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.userInfo-box {
	margin-top: 5rem;
	width: 60%;
	display: flex;
	padding: 5rem;
	border-style: solid;
	color: turquoise;
	border-radius: 5rem;
}
