.box-signUp {
	margin-top: 5em;
	margin: auto;
	width: 60vw;
}

.signUp-home {
	margin-right: 35em;
}

.mainPage {
	background-color: lightgray;
	font-size: large;
	color: black;
	border-radius: 10px;
	width: 60px;
}

.form-SignUp {
	width: 40vw;
	margin: auto;
}

.signUp-btn {
	background-color: lightgray;
	font-size: large;
	color: black;
	border-radius: 10px;
	width: 125px;
}
