.dashboard {
	width: 75vw;
	margin: auto;
	display: inline-block;
}

.target {
	margin: auto;
	margin-top: 3em;
}

.goal-container {
	margin-top: 5em;
}

.navBar {
	float: left;
}

.loseBtn {
	border-radius: 10px;
	margin: 3px 3px;
}

.loseBtn:hover {
	text-decoration: underline;
	text-transform: uppercase;
}

.gainBtn {
	border-radius: 10px;
	margin: 3px 3px;
}

.gainBtn:hover {
	text-decoration: underline;
	text-transform: uppercase;
}
