.dashboard {
	width: 76vw;
	margin: auto auto auto auto;
}

.navbar {
	width: 15vw;
	position: relative;
	left: 0;
	height: 25vh;
}

.logOut {
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 10px;
}
