.loseWeight {
	width: 70vw;
	margin: auto;
	display: flex;
}

.facts {
	width: 50vw;
	margin: auto;
	margin-top: 3em;
	display: inline-block;
}

.loseWeightNav {
	margin-top: 5em;
	margin: auto;
	float: left;
}
